@tailwind base;
@tailwind components;
@tailwind utilities;

.logoContainer {
    position: absolute;
    top: 63px;
    left: 144px;
    gap: 121px;
}

@media (max-width: 428px) {
    .logoContainer {
        position: absolute;
        width: 185px;
        height: 58px;
        top: 30px;
        left: 29px;
    }
}

.Frame14122Container {
    position: absolute;
    top: 189px;
    left: 149px;
    gap: 17px;
    width: 43px;
    height: 16px;

}

@media (max-width: 428px) {
    .hideOnSmall {
        display: none;
    }
}

.Line1 {
    position: absolute;
    top: 226px;
    left: 144px;


}

.header {
    width: 260px;
    height: 44px;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    size: 32px;
    top: 287px;
    left: 144px;
    font-weight: 700;
    color: #36385C;
    line-height: 43, 58px;
    letter-spacing: 0%;
}

@media (max-width: 428px) {

    .header {
        width: 228px;
        height: 38px;
        font-family: 'Open Sans', sans-serif;
        position: absolute;
        size: 28px;
        top: 155px;
        left: 37px;
        font-weight: 700;
        color: #36385C;

    }
}