@tailwind base;
@tailwind components;
@tailwind utilities;

.logoContainer {
    position: absolute;
    top: 63px;
    left: 144px;
    gap: 121px;
}

@media (max-width: 428px) {
    .logoContainer {
        position: absolute;
        width: 185px;
        height: 58px;
        top: 30px;
        left: 29px;
    }
}

.Frame14122Container {
    position: absolute;
    top: 189px;
    left: 149px;
    gap: 17px;
    width: 43px;
    height: 16px;

}

@media (max-width: 428px) {
    .hideOnSmall {
        display: none;
    }
}

.Line1 {
    position: absolute;
    top: 226px;
    left: 144px;


}